<div class="parent">
  @for (product of products$ | async; track product) {
    <mat-card class="example-card" appearance="outlined">
        @if (product.status === 'sale') {
          <div class="product-badge">
            <span>Sale</span>
          </div>
        }
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content class="pa-1">
          <div class="product-details">
            <div>
              <p class="ma-0">{{ product.name }}</p>
              <p class="ma-0 pa-0 text-md">{{ product.description }}</p>
            </div>
            <div class="mat-text-primary text-xl">
              @if (product.discounted === 'discounted') {
                <span class="strikethrough mat-text-muted text-sm">$ {{ product.discount }}</span>
              }
              <span> $ {{ product.price }}</span>
            </div>
            <button mat-icon-button color="accent" (click)="addProductToCart(product)">
              <mat-icon>add_shopping_cart</mat-icon>
            </button>
          </div>
        </mat-card-content>
    </mat-card>
  }
</div>

