<div class="parent">
  @for (product of displayedProducts; track product) {
    <mat-card class="example-card" appearance="outlined" (click)="navToDetail(product.id)">
        @if (product.status === 'sale' && product.discounted === 'discounted') {
          <div class="product-badge">
            <span>Sale</span>
          </div>
        }
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content class="pa-1">
          <div class="product-details">
            <div>
              <p class="ma-0">{{ product.name }}</p>
              <p class="ma-0 pa-0 text-md">{{ product.description }}</p>
            </div>
            <div class="mat-text-primary text-xl">
              @if (product.discounted === 'discounted') {
                <span class="strikethrough mat-text-muted text-sm ">$ {{ product.discount }}</span>
                <span class="discounted-price"> $ {{ product.price }}</span>
              }
              @if (product.discounted !== 'discounted') {
                <span > $ {{ product.price }}</span>
              }
            </div>
            <button mat-icon-button color="accent" (click)="addProductToCart(product)">
              <mat-icon>add_shopping_cart</mat-icon>
            </button>
          </div>
        </mat-card-content>
      </mat-card>
    }
</div>
<app-paginator [length]="totalProduct" (pageChange)="onPageChange($event)"></app-paginator>
